* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    
    font-family: Arial, sans-serif;
}


header {  
    background-color:#00354A ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 30px;
    height: 57px;
    z-index: 99;
}
header div img{
    height: 50px;
    width: 80px;
    cursor: pointer;
    margin-top: 3px;
}
header nav ul {
    display: flex;
    list-style: none;
}
header nav ul li a {
    display: inline-block;
    color: #F2F2F2;
    padding: 5px 10px;
    margin: 10px;
    border: 3px solid transparent;
    font-weight: 100;
    font-size: 17px;
    text-decoration: none;  
}
.booking{
   
    border-radius: 10px;
    margin-top: 13px;
    font-weight: 530;
    
    padding: 3px 17px;
    background-color: #00354A;
    color: white;
    border: solid 2px #F2F2F2 ;
}
.booking:hover{
    background-color: #F2F2F2;
    color: #00354A;
    font-weight: 300;
  
}
header nav ul li a:hover{
    font-weight: 100;
   color: #ff97b3;
 
}
header nav ul li a.active{
   border-bottom-color: #f2f2f2;
    
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background-color: #F2F2F2;
}


footer{
    
        background-color:#00354A;
        color: #F2F2F2;
        display: flex;
        align-items: center; 
        justify-content: center;
        height: 43px;
        font-weight: 300;
        font-size: 14px;
    }


@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    header{
        padding: 2px 15px;
        
    }
    header nav {
        position: absolute;
        width: 70%;
        left: -70%;
        top: 58px;
        background-color: #00354A;
        padding: 20px 98px 20px 30px;
        transition: 0.3s;
        z-index: 99;

       
    }
    header #nav_check:checked ~ nav {
        left: 0px;
    
    }
   
    header nav ul{
        display: block;
    }
    header nav ul li a {
        margin: 5px 0;
        font-weight: 300;
    }
 
    header nav ul li a.active{
        color: #00354A;
        background-color: #F2F2F2;
        padding: 10px 100% 10px 13px; 
       border-radius: 6px;
       font-weight: 450;
       transform: scale(1);
    }   

    header nav ul li a:hover{
        font-weight: 300;
       color: #ff97b3;
     
    }

    footer{
        height: 50px;
        font-size: 10px;
        text-align: center;
        padding: 10px 8px;
    }
}